<template name="CheckStatusTemplate">
<div class=overlay>
{{>applicantNavHeader}}
<br><br><br>
<center><h1 class="elegantshadow">Status of Applications</h1></center>

<table class="table-fill">
<thead>
<tr>
<th class="text-left">Job Seeker ID</th>
<th class="text-left">Job ID</th>
<th class="text-left">Status</th>
<th class="text-left">Notifications</th>
</tr>
</thead>
<tbody class="table-hover">
{{#each appstatus}}
<tr class = "text-left"> <td>{{jobseekerID}}</td><td> {{jobID}}</td><td> {{status}}</td><td>{{notification}}</td><br>
</tr>
{{/each}}
</tbody>
</table>

</div>
</template>

