<template name = "jobPostingTemplate">
	{{>employerNavHeader}}
<section id = "regback">
	<div >
  
        {{#autoForm collection="jobCollection" id="insertJobForm" type="insert"  }}
          <fieldset>
          <section id = "contactreg">
          <center><h1>Create a Job</h1></center>
            {{> afQuickField name='company_name'}}
	    {{> afQuickField name = 'vacancies'}}
	    {{> afQuickField name = 'employerID'  value=currentUserId}}
	     {{> afQuickField name = 'job_description'}}
            {{> afQuickField name = 'job_reqmts'}}
	    <!--{{> afQuickField name = 'deadline'}}-->
	    {{> afQuickField name="date" type="bootstrap-datepicker"}}

	    {{> afQuickField name = 'salary'}}		
	    {{> afQuickField name = 'location'}}		
          <button type="submit" class="btn btn-primary">Submit</button></section>
          </fieldset>


        {{/autoForm}}
      </div>
</section>
</template>
