<template name="JobSearchTemplate">
<div class=overlay>
{{>applicantNavHeader}}

<br><br><br>
{{#if isInRole 'applicant'}}
<center><h1 class="elegantshadow">Jobs </h1></center>
<select id="selectLocation">
	<option value="">All</option>
	{{#each jobArray}}
		<option value="{{location}}"> {{location}}</option>
	{{/each}}
</select>
 <div class = container>
	{{#each job_profile}}
		{{> job}}
	{{/each}}
               </div>
{{else}}
      <h3>You are unauthorized</h3>
    {{/if}}
</div>
</template>
<template name="job">
  <br>
<details>
<summary>{{company_name}}</summary>
<ul>
<li>Job Description: {{job_description}} </li>
<li>Job Requirements: {{job_reqmts}} </li>
<li>Vacancies: {{vacanices}}</li>
<li>Salary: {{salary}}</li>
<li>Deadline: {{deadline}}</li>
<li>Location: {{location}}</li>

<a href = "/areyousure/{{_id}}"> <input type ="button" class ="applyjob" value="Apply"></a>
</ul>
</details>

</template>
