<template name="viewApplicationsTemplate">
<div class=overlay>
{{>employerNavHeader}}
<br><br><br>
<center><h1 class="elegantshadow">Applications</h1></center>
{{#each viewapplications}}
<center>
<tr class = "appst {{selectedapp}}"> <td><b>Job ID:</b> {{jobID}}</td><td><b>Status:</b> {{status}}</td><td><b>Notification:</b> {{notification}}</td><td><b>Job Seeker ID:</b> {{jobseekerID}}</td>
<br>
</tr>
</center>
{{/each}}

<form class="apply">
<center><input type="text" name="Status" placeholder = "Status">
<input type = "submit" id = "submit"></center>
</form>

</div>
</template>
